:root {
  --main-color: #5f3ac5;
  --bg-color: #1b2024;
  --bg-color-darker: #121517;
  --bg-color-2: #31373e;
  --text-color: #f1f3f5;
  --stars-bg : rgba(0, 0, 0, 0.5);
}
.light-mode {
  --bg-color: #f1f3f5;
  --bg-color-2: #dfe3e7;
  --bg-color-darker: #dfe3e7;
  --text-color: #1b2024;
  --stars-bg : rgba(143, 143, 143, 0.523);
}
@font-face {
  font-family: iran-sans;
  src: url(iranSans.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: iran-sans, sans-serif;
  direction: rtl;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
html {
  font-size: 14px;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
input {
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
span.material-symbols-outlined {
    cursor: pointer;
}
/* ================= NAVIGATION ================= */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 20px;
  transition: all 0.3s;
}
#navbar.shadow {
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}
#navbar .left-section {
    display: flex;
align-items: center;
gap: 15px;
  }
  .dark-mode span {
    transform: scale(120%);

  }
#user-profile {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 8px;
}
#profile-pic {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
}
#profile-pic img {
  height: 210%;
  width: 100%;
  object-fit: cover;
  object-position: 50% -6px;
}
#user-type {
  font-size: 0.8rem;
  color: grey;
}
#current-location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  border: 1px solid grey;
  padding: 5px 8px;
  border-radius: 3px;
}
.location-icon {
  font-variation-settings: "FILL" 1, "wght" 10, "GRAD" 0, "opsz" 24;
}
/* ================= HEADER ================= */
#header {
  margin: 10px 20px;
}
/* SEARCH SECTION */
.search-section {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.search-section-input {
  width: 100%;
  background-color: var(--bg-color-darker);
  border-radius: 6px;
  padding: 10px;
  padding-right: 40px;
  color: var(--text-color);
}
.search-section .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* ======== LOCATION TAGS ========= */
#location-tags {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}
#location-tags::-webkit-scrollbar {
  display: none;
}
#location-tags .tag {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--main-color);
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}
#location-tags .tag.active {
  background-color: var(--main-color);
}
#location-tags .tag:hover {
  background-color: var(--main-color);
  color: white;
}
/* ================= MAIN ================= */
main {
  padding: 10px 20px;
}
/* ======== POPULAR SECTION ========= */
.section-title {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
#popular-places {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  overflow-x: scroll;
}
#popular-places::-webkit-scrollbar {
  display: none;
}
#popular-places .popular-card {
  min-width: 40%;
  color: #f1f3f5;
  height: 170px;
  border-radius: 10px;
  position: relative;
  background-blend-mode: darken;
  background-size: cover;
  background-position: 60% 0;
  cursor: pointer;
}
#popular-places .popular-card .name {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
#popular-places .stars {
  position: absolute;
  top: 5px;
  left: 5px;
}
.stars {
  background-color: var(--stars-bg);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 5px;
}
.stars span:first-child {
  padding-right: 8px;
}
.star-icon {
  color: yellow;
  transform: scale(60%);
}
/* ======== RECOMMENDED SECTION ========= */
#recommended,  #search-cards, #bookmarks-section {
  display: flex;
  flex-flow: column;
  margin-bottom: 100px;
}
.recommended-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color-darker);
  margin-top: 15px;
  display: flex;
  position: relative;
  height: 110px;
  cursor: pointer;
}
.location-cover {
  border-radius: inherit;
  width: 90px;
  height: 100%;
  overflow: hidden;
  background-size: 250%;
  background-position: 40% -10px;
}
.stars {
  position: absolute;
  left: 10px;
}
.recommended-card .desc {
  margin-right: 15px;
  font-size: 0.8rem;
}
.recommended-card .desc .name {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.recommended-card .desc > div {
  display: flex;
  align-items: center;
}
.recommended-card .desc .material-symbols-outlined {
  transform: scale(60%);
  color: grey;
}
.recommended-card .desc .duration small {
  color: grey;
  margin-right: 5px;
  font-size: inherit;
}

/* ================= BOTTOM NAV ================= */
#bottom-nav-container {
  position: fixed;
  bottom: 20px;
  z-index: 1002;
left: 50%;
transform: translateX(-50%);
}
#bottom-nav-container .bottom-nav {
  background-color: var(--bg-color-darker);
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid rgb(66, 66, 66);
  overflow: hidden;
}
#bottom-nav-container .bottom-nav span {
  transform: scale(130%);
  color: grey;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bottom-nav-container .bottom-nav span.active {
color: white;
background-color: var(--main-color);

}
/* ================= DETAILS ================= */
#section-container {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 1001;
  transform: translateX(100%);
  transition: all 0.3s;
}
#section-container::-webkit-scrollbar {
    display: none;
  }
section {
  margin-bottom: 100px;
}
/* ================= SLIDER  ================= */
.img-slider {
  position: relative;
}
.img-slider .big-cover {
  display: flex;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  position: relative;
}
.img-slider .big-cover img {
  width: 100%;
  height: 250px;
  border-radius: inherit;
}
.img-slider .big-cover .name {
  position: absolute;
  display: inline-block;
  width: 100vw;
  font-size: 1.5rem;
  padding: 80px 30px 20px 30px;
  bottom: 0;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}
.img-slider .material-symbols-outlined {
  position: absolute;
  top: 15px;
  background-color: #fff3;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  transform: scale(110%);
  z-index: 100;
  cursor: pointer;
}
.img-slider .bookmark {
  font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 0, "opsz" 24;
  right: 15px;
}
.img-slider .back-btn {
  left: 15px;
}
.img-slider .images {
  display: flex;
  gap: 5px;
  margin: 10px;
  background-color: var(--bg-color-darker);
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.img-slider .images img {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.img-slider .images img.active {
  border: 3px solid var(--main-color);
}

.tour-details {
  display: flex;
  margin: 20px;
  gap: 15px;
}
.tour-details > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tour-details > div .material-symbols-outlined {
  transform: scale(120%);
  padding: 5px;
  background-color: var(--bg-color-darker);
  color: var(--main-color);
  border-radius: 8px;
}
.tour-details .text {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
}
.tour-details .text span:first-child {
  font-size: 0.7rem;
  color: grey;
}
.tour-desc h1 {
  font-size: 1.2em;
  margin-right: 20px;
  margin-top: 25px;
}
.tour-desc p {
  font-size: 0.9rem;
  margin: 10px 20px;
  text-align: justify;
  line-height: 2;
}
.book-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.book-now .price {
  color: grey;
  display: flex;
  align-items: center;
  gap: 5px;
}
.book-now .price b {
  font-size: 1.8rem;
  color: var(--text-color);
}
.book-now-btn {
  border: none;
  background-color: var(--main-color);
  padding: 10px 50px;
  font-size: 1.1rem;
  color: white;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  transition: all 0.3s;
}
.book-now-btn:hover {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--text-color);
}
#nav-big-screen {
  display: none;
}
.dragging {
  user-select: none;
  scroll-behavior: auto;
  scroll-snap-type: none;
}


/* ================= SEARCH PAGE ================= */
#search-cards {
    margin: 10px ;
}
/* ================= PROFILE  ================= */
#profile-container {
padding: 20px ;
display: flex;
flex-flow: column;
align-items: center;
}
#profile-container table {
    margin: 0 auto;
}
#profile-container table td {
    padding: 10px 20px;
}
#profile-container table tr td:first-child {
    color: grey;
}
#profile-container  button {
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    transition:  all 0.3s;
}
#profile-container  button:hover {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
}
/* ================= MEDIA QUERIES ================= */
@media screen and (min-width: 800px) {
  #nav-big-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  html {
    font-size: 16px;
  }
  #container {
    padding: 10px 50px;
  }
  #bottom-nav-container {
    display: none;
  }
  #navbar {
    display: none;
  }
  .profile-and-location {
    display: flex;
    gap: 50px;
    margin-left: 50px;
  }

  #user-profile {
    width: 170px;
  }
  #search-section-mobile {
    display: none;
  }
  .search-section {
    width: 100%;
  }
  .search-section-input {
    margin: 0;
    width: 100%;
  }
  #nav-big-screen .icons {
    display: flex;
    width: 150px;
    align-items: center;
  }
  #nav-big-screen .icons > * {
    margin-right: 20px;
  }
  #current-location-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  #popular-places .popular-card {
    height: 200px;
  }
  #recommended,  #search-cards, #bookmarks-section{
    display: flex;
    flex-flow: row;
    gap: 2%;
    flex-wrap: wrap;
  }
 .recommended-card{
    max-width: 49%;
  }
  /* DETAILS PAGE */

  #section-container {
    padding: 0 40px;
  }
  #section-container .big-cover img {
    height: 400px;
  }

  #section-container .images {
    height: 80px;
  }
  #section-container .images img {
    height: 100%;
    width: 80px;
  }
  #section-container .tour-details {
    gap: 55px;
    justify-content: center;
  }
  #section-container .book-now {
    justify-content: flex-start;
    gap: 25px;
  }
  .img-slider .material-symbols-outlined {
    transform: scale(145%);
    top: 25px;
  }
  .img-slider .bookmark {
    font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 0, "opsz" 24;
    right: 25px;
  }
  .img-slider .back-btn {
    left: 25px;
  }
}
