:root {
  --main-color: #5f3ac5;
  --bg-color: #1b2024;
  --bg-color-darker: #121517;
  --bg-color-2: #31373e;
  --text-color: #f1f3f5;
}
.light-mode {
  --bg-color: #f1f3f5;
  --bg-color-2: #dfe3e7;
  --text-color: #1b2024;
}
@font-face {
  font-family: iran-sans;
  src: url(iranSans.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: iran-sans, sans-serif;
  direction: rtl;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
html {
  font-size: 14px;
}
body {
  background-color: var(--bg-color);
}
#container {
  color: var(--text-color);
}
input {
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ================= NAVIGATION ================= */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 20px;
}
#navbar.shadow {
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}
#user-profile {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 8px;
}
#profile-pic {
  height: 70%;
  overflow: hidden;
  border-radius: 50%;
}
#profile-pic img {
  height: 210%;
  width: 50px;
  object-fit: cover;
  object-position: 50% -6px;
}
#user-type {
  font-size: 0.8rem;
  color: grey;
}
#current-location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  border: 1px solid grey;
  padding: 5px 8px;
  border-radius: 3px;
}
.location-icon {
  font-variation-settings: "FILL" 1, "wght" 10, "GRAD" 0, "opsz" 24;
}
/* ================= HEADER ================= */
#header {
  margin: 10px 20px;
}
/* SEARCH SECTION */
#search-section {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
#search-section-input {
  width: 100%;
  background-color: var(--bg-color-darker);
  border-radius: 6px;
  padding: 10px;
  padding-right: 40px;
  color: var(--text-color);
}
#search-section .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* ======== LOCATION TAGS ========= */
#location-tags {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}
#location-tags::-webkit-scrollbar {
  display: none;
}
#location-tags .tag {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--main-color);
  font-size: 0.8rem;
}
#location-tags .tag.active {
  background-color: var(--main-color);
}

/* ================= MAIN ================= */
main {
  padding: 10px 20px;
}
/* ======== POPULAR SECTION ========= */
.section-title {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
#popular-places {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  overflow-x: scroll;
}
#popular-places::-webkit-scrollbar {
  display: none;
}
#popular-places .popular-card {
  min-width: 40%;
  height: 170px;
  border-radius: 10px;
  position: relative;
  background-blend-mode: darken;
  background-size: cover;
  background-position: 60% 0;
}
.card-location-name {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
#popular-places .stars {
  position: absolute;
  top: 5px;
  left: 5px;
}
.stars {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 5px;
}
.stars span:first-child {
  padding-right: 8px;
}
.star-icon {
  color: yellow;
  transform: scale(60%);
}
/* ======== RECOMMENDED SECTION ========= */
#recommended {
  display: flex;
  flex-flow: column;
  margin-bottom: 300px;
}
#recommended .recommended-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color-darker);
  margin-top: 15px;
  display: flex;
  position: relative;
  height: 110px;
}
#recommended .location-cover {
  border-radius: inherit;
  width: 90px;
  height: 100%;
  overflow: hidden;
  background-size: 250%;
  background-position: 40% -10px;
}
#recommended .stars {
  position: absolute;
  left: 10px;
}
.recommended-card .desc {
  margin-right: 15px;
  font-size: 0.8rem;
}
.recommended-card .desc .name {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.recommended-card .desc > div {
  display: flex;
  align-items: center;
}
.recommended-card .desc .material-symbols-outlined {
  transform: scale(60%);
  color: grey;
}
.recommended-card .desc .duration small {
  color: grey;
  margin-right: 5px;
  font-size: inherit;
}
/* ================= BOTTOM NAV ================= */
#bottom-nav-container {
  position: fixed;
  width: 100%;
  top: 60%;
  z-index: 1000;
}
#bottom-nav-container .bottom-nav {
  background-color: var(--bg-color-darker);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  margin: 13px;
  border: 1px solid rgb(66, 66, 66);
}
#bottom-nav-container .bottom-nav span {
  transform: scale(130%);
  color: var(--main-color);
}
